[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-cloud-logging = "*"
requests = "*"
pillow = "==9.3.0"
"rpi.gpio" = "*"

[dev-packages]

[requires]
python_version = "3.9"
