/* Main layout */

html,
body {
  width: 100%;
  height: 100%;
}

.Container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Top,
.Middle,
.Bottom {
  padding-left: var(--space-3);
  padding-right: var(--space-3);
}

.Middle {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
