/* Reset styles */

html,
body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
img,
a,
ul,
li,
button {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
